{% set section = fields %}

{% set theme = 'neon' %}

{% if site_theme == 'brown-theme' %}
  {% set theme = 'brown' %}
{% endif %}

<section 
  class="svg-group clear-both py-20 def-x-big lg:def-x-half self-clear"
  aria-label="{{ section.title }} section."
>
  {% if section.title %}
    <h2 class="forma-h2 text-black text-center px-12 mb-16">{{ section.title }}</h2>
  {% endif %}

  {% if section.posts %}
    {% for item in section.posts %}
      {% 
        include 'partial/post-item.twig' with {
          'width': 'w-1/6',
          'item': item
        }
      %}        
    {% endfor %}
  {% endif %}

  {% if section.links %}
    {% 
      include 'partial/links.twig' with {
        'links': section.links,
        'color': theme,
        'classes': 'mt-20 clear-both'
      }
    %}
  {% endif %}
</section>