{% extends "base.twig" %}

{% block content %}
	<main class="page-wrap not-found push-nav">
		<div class="h-screen-minus-nav flex flex-col items-center justify-center">
			<h1 class="forma-h1 text-black text-center mb-32">404</h1>
			<a href="/" class="def-button bg-forest-green text-black inline-block mx-auto w-1/2">Home</a>
		</div>
	</main>
{% endblock %}
