{% extends "base.twig" %}

{% block content %}
	<div class="page-wrap programs-archive push-nav">
    <h1 class="wcag-hidden">Programs Archive - Page {{ paged }}</h1>

    <div class="def-x pt-20 pb-20">
      <div class="svg-section mb-20">
        <div class="svg-wrapper"></div>

        {% for item in posts %}
          {% 
            include 'partial/archive-post-item.twig' with { 
              'item': item,
              'button_theme': 'pink'
            } 
          %}
        {% endfor %}
      </div>

      {% if posts.pagination.pages is not empty %}
        <div class="more mb-20">
          {% 
            include 'partial/number-pagination.twig' with { 
              pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) 
            } 
          %}
        </div>
      {% endif %}

      <div class="flex justify-center">
        <a 
          href="/whats-on" 
          class="def-button w-full lg:w-1/2 pink"
          aria-label="Go to What's on page"
        >Back to What's On</a>
      </div>
    </div>
  </div>
{% endblock %}