<div id="clock" class="mx-auto">
  <div class="clock-second"></div>
  <div class="clock-minute"></div>
  <div class="clock-hour"></div>
  <div class="clock-axis"></div>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
  <section class="clock-indicator"></section>
</div>